<!--
  Generated template for the ReorderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Adding and Reordering</ion-title>
    <ion-buttons end>
        <button (click)="toggleReorder()" ion-button *ngIf= "!reordEnabled">Edit</button>
        <button (click)="toggleReorder()" ion-button *ngIf= "reordEnabled">Done</button> 
        <button ion-button (click)="addalert()">
              <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="bacimg">
  
      <ion-list [reorder] = "reordEnabled" (ionItemReorder) ="itemReordered($event)">
        <ion-item-sliding *ngFor = "let comp of addarray ">
            <ion-item>{{comp}}</ion-item>
            <ion-item-options side="right">
                <button color="danger" ion-button>
                    <ion-icon name="trash"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
      </ion-list>
</ion-content>
