<ion-content padding>

    <ion-tabs class="tabs-basic">
      <ion-tab tabTitle="Home" [root]="homePage"></ion-tab>
      <ion-tab tabTitle="First" [root]="firstPage"></ion-tab>
      <ion-tab tabTitle="Modal" [root]="modalPage"></ion-tab>
      <ion-tab tabTitle="Align" [root]="reorderPage"></ion-tab>
      <ion-tab tabTitle="Slide" [root]="slidePage"></ion-tab>
      <ion-tab tabTitle="table" [root]="tablePage"></ion-tab>
    </ion-tabs>
    

</ion-content>

