<!--
  Generated template for the ModalpagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
          <ion-buttons end>
                <button ion-button (click)="closeModal()">
                   <ion-icon name="close"></ion-icon>
                </button>
          </ion-buttons>

          <ion-title style="text-align: center" >Modal Page with refresher</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding >
      <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content
                    pullingIcon="arrow-dropdown"
                    pullingText="Pull to refresh"
                    refreshingSpinner="circles"
                    refreshingText="Refreshing...">
            </ion-refresher-content>
      </ion-refresher>

  <div class="form">
    <ion-list>
          <ion-item>
                  <ion-label floating><b>Name : </b></ion-label>
                  <ion-input type="text"></ion-input>
          </ion-item>

          <ion-item>
                  <ion-label floating><b>Business : </b></ion-label>
                  <ion-input type="text"></ion-input> </ion-item>
    </ion-list><br>
  
    <ion-list radio-group>
        <ion-label fixed><b>Gender : </b></ion-label>
            <ion-item>
              <ion-label>Male</ion-label>
              <ion-radio slot="start" color="tertiary" value="male" checked></ion-radio>
            </ion-item>
    
            <ion-item>
              <ion-label>Female</ion-label>
              <ion-radio slot="start" color="tertiary" value="female" ></ion-radio>
            </ion-item>
    </ion-list>
        
    <ion-label fixed><b>Select Languages : </b></ion-label>
    <ion-list >
        <ion-item>
                <ion-label>Tamil</ion-label>
                <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
       </ion-item>

       <ion-item>
                <ion-checkbox color="primary"  slot="start"></ion-checkbox>
                <ion-label>English</ion-label>
       </ion-item>

       <ion-item>
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
                <ion-label>Hindi</ion-label>
       </ion-item>
    </ion-list>
  
    <ion-list>

        <ion-item>
            <ion-label fixed><b> Country :</b></ion-label>
            <ion-select [(ngModel)]="nation">
                  <ion-option value="India"><b>India</b></ion-option>
                  <ion-option value="America"><b>America</b></ion-option>
                  <ion-option value="Australia"><b>Australia</b></ion-option>
            </ion-select>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-item>
              <ion-label fixed>Accept above</ion-label>
              <ion-toggle slot="start" name="accept" checked></ion-toggle>
        </ion-item>
    </ion-list>
            <button  ion-button (click)="submitForm()" class="sub" ><b>Submit Form</b></button> 
  </div>

</ion-content>
