<ion-header>
      <ion-navbar > 
            <ion-title style="text-align: center">Home</ion-title>
                  <ion-buttons left>
                      <button ion-button icon-only menuToggle>
                         <ion-icon name="menu"></ion-icon>
                      </button>
                  </ion-buttons>
                
                  <ion-buttons right>
                      <button ion-button icon-only (click) ="presentPopover()">
                         <ion-icon name="more"></ion-icon>         
                      </button>
                  </ion-buttons>
      </ion-navbar>
</ion-header>

<ion-content padding class="mainbimg">

    <ion-grid>
          <ion-row>
                <ion-card style="border-radius: 25px" (click)="nextpage1()">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLdm6nk5ml7PDvvm2EkqhlJLqpWnAWT5rsp-lgtob9b6lRakgYXA">
                            <ion-card-content>
                                  <ion-card-title><b>Component App</b></ion-card-title>
                                          <i>By: LOGIDASREE S</i>
                                          <p>The app which contains all the components necessary to build a ionic app.</p>
                            </ion-card-content>
                </ion-card>
          </ion-row>

          <ion-row class="dati">
                  <ion-item class="st">
                      <ion-label color="dark"><b>Select Time</b></ion-label>
                              <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts"></ion-datetime>
                  </ion-item>
          </ion-row>
          
    </ion-grid>

</ion-content>
