<!--
  Generated template for the SlidePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Basic Ionic</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
          <ion-slides pager>
                <ion-slide class="bacimg">
                  <h2><b>Ionic Definition :</b><br></h2>
                  <h4  style="color:darkblue" > Ionic is a powerful HTML5 SDK that helps you build native-feeling mobile apps using web technologies like HTML, CSS, and Javascript. Ionic is focused mainly on the look and feel, and UI interaction of your app. That means we aren't a replacement for PhoneGap or your favorite Javascript framework.</h4>
                </ion-slide>
              
                <ion-slide class="bacimg1">
                  <h2><b>Key Features :</b><br></h2>
                  <h4 style="color: darkgreen">Based on SASS and provides tons of UI components for creating robust and rich apps.<br>
                    Ionic comes transported with a powerful CLI, providing mobile app developers the ability to build and test Ionic apps on any platform.<br>
                    It provides custom elements and methods for interacting with them by using Angular.</h4>
                </ion-slide>
                <ion-slide class="bacimg">
                  <h2><b>Advantages : </b><br></h2>
                  <h4 style="color:darkblue">Easy to learn: If you have familiarity with html, css and JavaScript you can learn it very fast.<br>
                    Easy documentation: Ionic has very good and well documentation. Most of the things are covered in their official site.<br> So you don’t have to move around different sites to learn.<br>
                    When you run a command it generates all files with template codes.<br></h4>
                </ion-slide>
          </ion-slides>
</ion-content>
