<ion-menu [content]="mycontent">
    <ion-header>
        <ion-toolbar>
          <ion-title>
          Menu
          </ion-title>
        </ion-toolbar>
      </ion-header>
    <ion-content>
      <ion-list>
          <button ion-item >
            Components
            </button>
            <button ion-item >
              Form
            </button>
            <button ion-item >
              Settings
            </button>
           
             
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-nav id="nav" #mycontent [root]="rootPage" ></ion-nav>
  
