<!--
  Generated template for the FirstpagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
       <ion-title>Firstpage</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding class="bacimg">
  <ion-list>
    <ion-item (click)="modal()" class="mod">ModalForm</ion-item>
    <ion-item (click)="slide()" class="sli" >Basic details of ionic</ion-item>
  </ion-list>

  <div class="pt2">
    <div >
      <ion-segment  [(ngModel)]="connect" color="dark">
          <ion-segment-button value="Activities" >
            <ion-label><b>Content1</b></ion-label>
          </ion-segment-button>

          <ion-segment-button value="Earnings">
           <ion-label><b>Content2</b></ion-label>
          </ion-segment-button>
      </ion-segment>
    </div>
   
    <div  [ngSwitch]="connect" >
        <ion-list  *ngSwitchCase="'Activities'" >
           
          <ion-item class="bgacea">
                <b>Content1 Heading</b>
                <ion-badge  item-end>4kviews</ion-badge>
            </ion-item>

            <ion-item class="pt2 width"(click)="reorder()">
                          Add caption
            </ion-item>

            <ion-item class="spacing width">
              <b>Content1 continues</b>
            </ion-item>
            
        </ion-list> 

        <ion-list  *ngSwitchCase="'Earnings'">
            <ion-item class="bgacea">
                    <b>Content2 Heading</b>
                    <ion-badge  item-end>2kviews</ion-badge>
            </ion-item>

            <ion-item class="pt2 width" (click)="table()" >
                           Search bar
            </ion-item>

            <ion-item class="spacing width">
                  <b>Content2 continues</b>
            </ion-item>          
        </ion-list>
    
    </div>

  </div>

  <ion-fab right bottom>
          <button ion-fab color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
          <ion-fab-list side="left">
               <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
               <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
               <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
               <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
          </ion-fab-list>
  </ion-fab>

</ion-content>
