<!--
  Generated template for the PopoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
     <ion-title>Popping</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <b>Peep a Pop...</b><br>
    <ion-card (tap)="tapEvent($event)">
        <ion-item>
        Tapped: {{tap}} times
        </ion-item>
    </ion-card>
</ion-content>

